.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-dismissable {
    padding-right: 35px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.item-pilih-seat-row + .item-pilih-seat-row {
    margin-top: 7px;
} 
.item-pilih-seat-columns .whitespace {
    height: 26px;
}
.item-pilih-seat-columns .whitespace-res{
    height: 20px;
    width: 36px;
    display: inline-block;
}
.rwd-booking-kursi .item-pilih-seat-row + .item-pilih-seat-row {
    margin-top: 0px;
}
.route-item {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0px 15px;
    cursor: pointer;
}
.route-item-detail {
    width: 102%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    margin-bottom: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
}
.route-subitem {
    width: 85%;
}
.route-subitem, .route-items-eksekusi {
    float: left;
    padding-right: 10px;
}
.route-subitem-content {
    display: block;
    min-width: 600px;
    margin-top: 15px;
}
.route-subitem-content + .route-subitem-content {
    margin-top: 30px;
}
.route-subitem-box {
    text-align: center;
    padding-right: 15px;
}
.route-subitem-box {
    display: inline-block;
    padding-right: 55px;
}
.route-subitem-box.ekspedisi {
    text-align: left !important;
    padding-right: 30px;
}
.route-subitem-box.rate {
    position: relative;
    top: 8px;
}
.route-item-title {
    display: block;
    font-weight: bold;
}
.route-item-subtitle {
    display: block;
    font-size: 12px;
}
.route-subitem-box.ekspedisi .route-item-title {
    font-weight: normal;
}
.sprite {
    display: inline-block;
}
.icon-arrow-right {
    background-image: url(../images/sprite-general.png);
    background-position: -474px -294px;
    width: 13px;
    height: 15px;
}
.route-subitem-box.seat {
    position: relative;
    top: 10px;
    margin-left: 55px;
}
.route-subitem-box.seat .sprite {
    margin-bottom: 10px;
}
.icon-seat {
    background-image: url(../images/sprite-general.png);
    background-position: 0px -454px;
    width: 24px;
    height: 34px;
}
.route-subitem-box.seat .route-item-subtitle {
    font-weight: bold;
}
.route-subitem-content + .route-subitem-content {
    margin-top: 30px;
}
.route-subitem-box.cta:first-child {
    padding-left: 240px;
}
.route-subitem-box.cta:nth-child(2) {
    padding-left: 80px;
}
.route-subitem-box.cta:nth-child(3) {
    padding-left: 85px;
}
.route-subitem-box.cta:nth-child(4) {
    padding-left: 60px;
}
.route-subitem-box.cta:nth-child(5) {
    padding-left: 85px;
}
.route-items-eksekusi {
    text-align: center;
}
.route-items-eksekusi {
    width: 15%;
    padding-right: 0;
}
.route-items-eksekusi .pricing {
    display: inline-block;
    color: #fc6a28;
    font-weight: bold;
    margin-top: 15px;
}
.route-item.active {
  border-color: #00b052;
}
.route-item:hover, .route-item:focus {
  border-color: #00b052;
}
.route-item-detail-seat {
  background: #f3f3f3;
  padding: 30px;
}
.route-item-detail-desc {
    float: left;
    width: 100%;
    background: white;
}   
.route-item-detail-desc {
    padding: 30px;
    background: white;
}
.route-item-detail-seat-pilih {
    width: 60%;
}
.route-item-detail-seat-pilih, .route-item-detail-seat-ket {
    float: left;
}


.route-item-detail-seat-ket {
    width: 40%;
}
seat-ket {
    float: left;
}
.route-item-detail .item-pilih-title, .route-item-detail .item-seat-ket-title {
    margin: 0;
    color: #6e6e6e;
}
.item-pilih-seat {
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 433px;
    margin-left: 0;
    margin-right: auto;
}
.item-pilih-seat-row {
    width: 100%;
}
.item-pilih-seat-columns {
    float: left;
    width: 35px;
}
.item-pilih-seat-columns .whitespace {
    height: 37px;
    width: 36px;
    display: inline-block;
}
.item-pilih-seat-columns .whitespace {
    height: 26px;
}
.item-pilih-seat-columns .sprite {
    cursor: pointer;
}
.icon-seat-white {
    background-image: url(../images/sprite-general.png);
    background-position: -264px -393px;
    width: 26px;
    height: 26px;
}
.sprite {
    display: inline-block;
}
.item-pilih-seat-columns + .item-pilih-seat-columns {
    margin-left: 5px;
}
.icon-seat-yellow {
    background-image: url(../images/sprite-general.png);
    background-position: -238px -393px;
    width: 26px;
    height: 26px;
}
.icon-seat-green {
    background-image: url(../images/sprite-general.png);
    background-position: -186px -393px;
    width: 26px;
    height: 26px;
}
.icon-seat-gray {
    background-image: url(../images/sprite-general.png);
    background-position: -212px -393px;
    width: 26px;
    height: 26px;
}
.icon-steer {
    background-image: url(../images/sprite-general.png);
    background-position: -96px -422px;
    width: 25px;
    height: 25px;
}
.icon-seat-toilet {
    background-image: url(../images/sprite-general.png);
    background-position: -434px -145px;
    width: 27px;
    height: 63px;
}
.icon-seat-door {
    background-image: url(../images/door.png);
    background-position: -286px -127px;
    width: 26px;
    height: 26px;
}
.icon-seat-door_r {
    background-image: url(../images/door_res.png);
    background-position: -289px -127px;
    width: 17px;
    height: 18px;
}
.icon-seat-white-big {
    background-image: url(../images/sprite-general.png);
    background-position: -32px -422px;
    width: 32px;
    height: 32px;
}
.icon-seat-yellow-big {
    background-image: url(../images/sprite-general.png);
    background-position: -64px -422px;
    width: 32px;
    height: 32px;
}
.icon-seat-gray-big {
    background-image: url(../images/sprite-general.png);
    background-position: -375px -303px;
    width: 32px;
    height: 32px;
}
.icon-seat-green-big {
    background-image: url(../images/sprite-general.png);
    background-position: 0px -422px;
    width: 32px;
    height: 32px;
}
.item-pilih-seat-ket ul li .sprite {
    vertical-align: middle;
    margin-right: 5px;
}
.item-pilih-seat + .item-pilih-seat-ket {
    margin-top: 15px;
}
.item-pilih-seat-ket {
    text-align: left;
}
.item-seat-ket select {
    width: 100%;
    padding: 7px 5px;
    font-size: 12px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.item-pilih-seat-ket ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.item-pilih-seat-ket ul li {
    margin-right: 30px;
    display: inline-block;
    font-size: 12px;
    color: #6e6e6e;
}

.btn, .form-pilih-bank select, .navigation-header-proses ul li a, .item-payment .content-list .list-tab li a, .item-payment .content-list .tab-pane p, .list-detil-perjalanan li, .list-penumpang ul li, .list-rincianharga li, .item-payment .tab-content .list-number li, .section-seo h5, .section-seo p, .section-seo .block-content, form input[type="text"], form input[type="email"], form input[type="url"], form input[type="password"], form input[type="search"], form input[type="number"], form input[type="tel"], form input[type="range"], form input[type="date"], form input[type="month"], form input[type="week"], form input[type="time"], form input[type="datetime"], form input[type="datetime-local"], form input[type="color"], form input[type="year"], form select, form textarea, .form-field.style-2 input[type="text"], .form-field.style-2 input[type="email"], .form-field.style-2 input[type="tel"], .form-field.style-2 input[type="password"], .form-field.style-2 input[type="number"], .checkbox-circle + label, .form-input-debit-card .form-input-debit-card-label .form-input-debit-card-title, .form-input-debit-card .form-input-debit-card-label .form-input-debit-card-value, .section-cari-tiket-rwd .list-tab li a, .item-booking form input[type="checkbox"] + label, .item-booking form input[type="radio"] + label, .item-booking .list-number, .item-why-caption p, .route-item-detail .item-pilih-title, .route-item-detail .item-seat-ket-title, .route-item-detail-desc-form .form-field-header-title, .pariwisata-item-content-desc .pariwisata-ket-title {
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
p {
    margin: 0;
}
.item-seat-ket-title {
    margin-bottom: 7px !important;
    display: block;
}
.route-item-detail-desc-form .form-field-header-title {
    margin: 0 0 5px;
}
.route-item-detail-desc-form .form-field-header p {
    font-size: 12px;
}
.route-item-detail p {
    font-size: 12px;
    color: #6e6e6e;
}
p {
    margin: 0;
}
.route-item-detail-desc-form .form-field {
    margin-bottom: 15px;
    min-height: 35px;
}
.form-field.style-2 input[type="text"], .form-field.style-2 input[type="email"], .form-field.style-2 input[type="tel"], .form-field.style-2 input[type="password"], .form-field.style-2 input[type="number"] {
    padding: 10px 5px;
    padding-left: 0;
    color: black;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #8f8f8f;
}
.route-item-detail-desc-form .form-field + .form-field {
    margin-top: 0;
}
.form-field.style-2 + .style-2 {
    margin-top: 30px;
}
.route-item-detail-desc-form .form-field {
    margin-bottom: 15px;
    min-height: 35px;
}
.form-field + .form-field {
    margin-top: 15px;
}
.route-item-detail-desc-form .form-field-header {
    margin-bottom: 15px;
}
route-item-detail-desc .col{
    margin: 0px;
    padding: 0px;
}
.remove_mar_pad div{
    padding: 3px !important;
}