/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Aug, 2017, 10:50:19 AM
    Author     : Hiren T. Solanki
*/

html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
html.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #333 url('loader.gif') no-repeat 50% 50%;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
html.loading body {
    /* Make the contents of the body opaque during loading */
    opacity: 0;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0;
    transition: opacity 0;
}
.default_color { color: #9ccc65; }
.default_padding { padding: 0px !important;  }
.br{ border-right: 0px !important }
.bt{ border-top: 0px !important }
.bb{ border-bottom: 0px !important }
.bl{ border-left: 0px !important }

.chips .autocomplete-content {
    margin-top: 0;
    margin-bottom: 0
}

.input-field .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem)
}
.autocomplete-content {
    margin-top: -20px;
    margin-bottom: 20px;
    display: block;
    opacity: 1;
    position: absolute
    /*position: static*/
}
.autocomplete-content li .highlight {
    color: #444
}
.autocomplete-content li img {
    height: 40px;
    width: 40px;
    margin: 5px 15px
}
.default_tags {
    border: none;
    width: auto;
    height: auto;
}
.dropdown-content li.active{
    background-color:rgba(0,0,0,.04)
}
.highlights{
    border: 1px solid red;
}
 .parsley-errors-list {
    color: #EF5350;
    font-size: 13px;
    list-style: none;
    padding: 0px;
}
.parsley-error,
input[data-parsley-id].parsley-error,
textarea[data-parsley-id].parsley-error {
    margin-bottom: 0
}
.parsley-error + .parsley-errors-list,
input[data-parsley-id].parsley-error + .parsley-errors-list,
textarea[data-parsley-id].parsley-error + .parsley-errors-list {
    margin-top: 0;
    margin-bottom: 15px
}
.select-wrapper .select-dropdown[data-parsley-id] {
    margin-bottom: 0
}
.select-wrapper .select-dropdown[data-parsley-id] + .parsley-errors-list {
    margin: 0
}
.select-wrapper + .parsley-errors-list {
    margin-top: 0;
    margin-bottom: 15px
}
input[data-parsley-id].parsley-error,
textarea[data-parsley-id].parsley-error {
    border-bottom: 1px solid #EF5350;
    box-shadow: 0 1px 0 0 #EF5350
}

.ui-autocomplete{
    font-size: 20px;
    line-height: 2;
}

.ui-menu-item:hover{
    background-color: blue;
}
.prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    left: 4px;
    top: 7px;
}
.autocomplete_filter{
    display: none;
    /*opacity: 0;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
    filter: alpha(opacity=0);
    zoom: 1;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100.7%;
    z-index: 222;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    background: white;
    margin-left: -1px;
}
.autocomplete_filter ul{
    display: block;
    /*opacity: 0;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
    filter: alpha(opacity=0);
    zoom: 1;
    /*position: absolute;*/
    top: 100%;
    left: 10px;
    width: 100%;
    z-index: 222;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    border-top: none;
    background: white;
    /*margin-left: 10px;*/
}
.autocomplete_filter a{
    color: black;
    cursor: pointer;
}
#search_form input{
    padding: 0px;
}
.autocomplete_filter ul li ,.autocomplete_filter ul li ul li{
/*    padding-bottom: 5px;
    padding-top: 5px;*/
}
.autocomplete_filter li a:hover, .autocomplete_filter li a:focus {
    background: #f3f3f3;
}
.autocomplete_filter li a {
    display: block;
    padding: 7px 15px;
    color: #000000;
}
.autocomplete_filter ul li a {
    padding-left: 30px;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
    
.icon-seat-door {
    background-image: url(../images/door.png);
    background-position: -286px -127px;
    width: 26px;
    height: 26px;
}
.icon-seat-door_r {
    background-image: url(../images/door_res.png);
    background-position: -289px -127px;
    width: 17px;
    height: 18px;
}

.booking-detail { background: #fff; /*border: 1px solid #b7e3ff;*/ height: auto; margin-bottom: 20px; overflow: hidden }
#disp_ticket { margin-top: 20px }
.noBorder { border: none!important }
.booking-detail .heading-bookingdata td, .booking-detail td.heading-data { /*background: #d6edf8;*/ line-height: 2 }
.booking-detail .chackbox-booking { position: relative }
.action-bookingdata { text-align: right }
.action-bookingdata .btn { width: 100%; max-width: 320px; margin: 0 auto; text-transform: uppercase }
.title-bookingdata { font-size: 20px; background: #226611!important; color: #fff!important; text-transform: uppercase; }
.booking-detail table { margin-bottom: 0 }
#list_ticket {
    margin-top: 20px;
}

.ui-datepicker { z-index: 1000!important;}
.bust-modal{
    max-height:75%; 
}