.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-dismissable {
    padding-right: 35px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.item-pilih-seat-row + .item-pilih-seat-row {
    margin-top: 7px;
} 
.item-pilih-seat-columns .whitespace {
    height: 26px;
}
.item-pilih-seat-columns .whitespace-res{
    height: 20px;
    width: 36px;
    display: inline-block;
}
.rwd-booking-kursi .item-pilih-seat-row + .item-pilih-seat-row {
    margin-top: 0px;
}
.busbg {
    position: absolute;
    width: 177px;
    height: 117px;
    left: 0px;
    top: 0px;
    opacity: 0.6;
    background-color: black;
}
.busbg .icon-check-normal-white{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.other_img_bg{
    position: absolute;
    width: 92px;
    height: 65px;
    left: 0px;
    top: 0px;
    opacity: 0.6;
    z-index: 10;
    background-color: black;
}
.common{
    display: none;
}
