/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-alfamart-logo {
  background-image: url(../images/sprite-images.png);
  background-position: -427px -272px;
  width: 59px;
  height: 27px;
}
.icon-alfamart {
  background-image: url(../images/sprite-images.png);
  background-position: -128px -407px;
  width: 64px;
  height: 38px;
}
.icon-arrow-circle-left-small {
  background-image: url(../images/sprite-images.png);
  background-position: -244px -353px;
  width: 27px;
  height: 28px;
}
.icon-arrow-circle-left {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -290px;
  width: 33px;
  height: 33px;
}
.icon-arrow-circle-right-small {
  background-image: url(../images/sprite-images.png);
  background-position: -217px -353px;
  width: 27px;
  height: 28px;
}
.icon-arrow-circle-right {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -323px;
  width: 33px;
  height: 33px;
}
.icon-arrow-right-two {
  background-image: url(../images/sprite-images.png);
  background-position: -93px -390px;
  width: 18px;
  height: 13px;
}
.icon-arrow-right {
  background-image: url(../images/sprite-images.png);
  background-position: -521px -437px;
  width: 13px;
  height: 15px;
}
.icon-bankbca {
  background-image: url(../images/sprite-images.png);
  background-position: -384px -407px;
  width: 64px;
  height: 38px;
}
.icon-bri {
  background-image: url(../images/sprite-images.png);
  background-position: -192px -407px;
  width: 64px;
  height: 38px;
}
.icon-bus-front-four {
  background-image: url(../images/sprite-images.png);
  background-position: -172px -445px;
  width: 17px;
  height: 16px;
}
.icon-bus-front-smallest {
  background-image: url(../images/sprite-images.png);
  background-position: -464px -237px;
  width: 10px;
  height: 9px;
}
.icon-bus-front-three {
  background-image: url(../images/sprite-images.png);
  background-position: -471px -407px;
  width: 18px;
  height: 20px;
}
.icon-bus-front-two {
  background-image: url(../images/sprite-images.png);
  background-position: -454px -353px;
  width: 17px;
  height: 19px;
}
.icon-bus-front {
  background-image: url(../images/sprite-images.png);
  background-position: -522px -323px;
  width: 15px;
  height: 19px;
}
.icon-bus-left {
  background-image: url(../images/sprite-images.png);
  background-position: -448px -248px;
  width: 34px;
  height: 12px;
}
.icon-bus-pariwisata {
  background-image: url(../images/sprite-images.png);
  background-position: -343px -248px;
  width: 40px;
  height: 19px;
}
.icon-bus-right {
  background-image: url(../images/sprite-images.png);
  background-position: -413px -248px;
  width: 35px;
  height: 13px;
}
.icon-calendar {
  background-image: url(../images/sprite-images.png);
  background-position: -435px -353px;
  width: 19px;
  height: 19px;
}
.icon-cek-pemesanan {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -452px;
  width: 30px;
  height: 31px;
}
.icon-check-white-big {
  background-image: url(../images/sprite-images.png);
  background-position: -268px -242px;
  width: 30px;
  height: 21px;
}
.icon-check-yellow-normal {
  background-image: url(../images/sprite-images.png);
  background-position: -522px -342px;
  width: 15px;
  height: 11px;
}
.icon-check-yellow-smallest {
  background-image: url(../images/sprite-images.png);
  background-position: -424px -111px;
  width: 9px;
  height: 6px;
}
.icon-check-yellow {
  background-image: url(../images/sprite-images.png);
  background-position: -73px -390px;
  width: 20px;
  height: 15px;
}
.icon-chevron-down-green {
  background-image: url(../images/sprite-images.png);
  background-position: -449px -237px;
  width: 15px;
  height: 10px;
}
.icon-chevron-down {
  background-image: url(../images/sprite-images.png);
  background-position: -419px -237px;
  width: 15px;
  height: 10px;
}
.icon-chevron-up-green {
  background-image: url(../images/sprite-images.png);
  background-position: -434px -237px;
  width: 15px;
  height: 10px;
}
.icon-chevron-up {
  background-image: url(../images/sprite-images.png);
  background-position: -521px -379px;
  width: 15px;
  height: 9px;
}
.icon-close {
  background-image: url(../images/sprite-images.png);
  background-position: -291px -194px;
  width: 9px;
  height: 10px;
}
.icon-credit-card {
  background-image: url(../images/sprite-images.png);
  background-position: -419px -180px;
  width: 69px;
  height: 57px;
}
.icon-doku-wallet {
  background-image: url(../images/sprite-images.png);
  background-position: -318px -272px;
  width: 109px;
  height: 33px;
}
.icon-facebook-small {
  background-image: url(../images/sprite-images.png);
  background-position: -213px -210px;
  width: 55px;
  height: 55px;
}
.icon-facebook-square {
  background-image: url(../images/sprite-images.png);
  background-position: -471px -353px;
  width: 17px;
  height: 17px;
}
.icon-facebook {
  background-image: url(../images/sprite-images.png);
  background-position: -489px 0px;
  width: 48px;
  height: 48px;
}
.icon-fasilitas-minum {
  background-image: url(../images/sprite-images.png);
  background-position: -522px -290px;
  width: 12px;
  height: 30px;
}
.icon-fasilitas-musik {
  background-image: url(../images/sprite-images.png);
  background-position: -521px -356px;
  width: 16px;
  height: 23px;
}
.icon-fasilitas-pillow {
  background-image: url(../images/sprite-images.png);
  background-position: -128px -445px;
  width: 27px;
  height: 22px;
}
.icon-fasilitas-snack {
  background-image: url(../images/sprite-images.png);
  background-position: -377px -353px;
  width: 30px;
  height: 20px;
}
.icon-fasilitas-wifi {
  background-image: url(../images/sprite-images.png);
  background-position: -407px -353px;
  width: 28px;
  height: 20px;
}
.icon-fitur-bbm {
  background-image: url(../images/sprite-images.png);
  background-position: -521px -388px;
  width: 14px;
  height: 17px;
}
.icon-fitur-map {
  background-image: url(../images/sprite-images.png);
  background-position: -521px -420px;
  width: 13px;
  height: 17px;
}
.icon-fitur-pp {
  background-image: url(../images/sprite-images.png);
  background-position: -519px -475px;
  width: 18px;
  height: 8px;
}
.icon-fitur-tax {
  background-image: url(../images/sprite-images.png);
  background-position: -280px -194px;
  width: 11px;
  height: 11px;
}
.icon-fitur-tol {
  background-image: url(../images/sprite-images.png);
  background-position: -521px -405px;
  width: 16px;
  height: 14px;
}
.icon-google-play-footer {
  background-image: url(../images/sprite-images.png);
  background-position: -306px 0px;
  width: 183px;
  height: 52px;
}
.icon-google-play-small {
  background-image: url(../images/sprite-images.png);
  background-position: 0px -210px;
  width: 213px;
  height: 62px;
}
.icon-google-play {
  background-image: url(../images/sprite-images.png);
  background-position: 0px -142px;
  width: 229px;
  height: 68px;
}
.icon-google-square {
  background-image: url(../images/sprite-images.png);
  background-position: -155px -445px;
  width: 17px;
  height: 17px;
}
.icon-growth-oprtunity {
  background-image: url(../images/sprite-images.png);
  background-position: 0px -272px;
  width: 91px;
  height: 81px;
}
.icon-indonesia-flag-small {
  background-image: url(../images/sprite-images.png);
  background-position: -383px -248px;
  width: 30px;
  height: 19px;
}
.icon-indonesia-flag {
  background-image: url(../images/sprite-images.png);
  background-position: -306px -248px;
  width: 37px;
  height: 24px;
}
.icon-instagram-small {
  background-image: url(../images/sprite-images.png);
  background-position: 0px -353px;
  width: 54px;
  height: 54px;
}
.icon-instagram {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -96px;
  width: 47px;
  height: 47px;
}
.icon-klikbca {
  background-image: url(../images/sprite-images.png);
  background-position: 0px -407px;
  width: 64px;
  height: 38px;
}
.icon-langganan-info {
  background-image: url(../images/sprite-images.png);
  background-position: -348px -353px;
  width: 29px;
  height: 21px;
}
.icon-list-harga {
  background-image: url(../images/sprite-images.png);
  background-position: -111px -390px;
  width: 18px;
  height: 13px;
}
.icon-lock {
  background-image: url(../images/sprite-images.png);
  background-position: -229px -142px;
  width: 51px;
  height: 63px;
}
.icon-logo-footer {
  background-image: url(../images/sprite-images.png);
  background-position: -306px -52px;
  width: 118px;
  height: 67px;
}
.icon-logo-new-with-text {
  background-image: url(../images/sprite-images.png);
  background-position: -306px -180px;
  width: 113px;
  height: 68px;
}
.icon-logo-new {
  background-image: url(../images/sprite-images.png);
  background-position: -54px -353px;
  width: 77px;
  height: 37px;
}
.icon-logo-sticky {
  background-image: url(../images/sprite-images.png);
  background-position: -306px -119px;
  width: 127px;
  height: 61px;
}
.icon-logobca {
  background-image: url(../images/sprite-images.png);
  background-position: -131px -353px;
  width: 86px;
  height: 29px;
}
.icon-mandiri-logo {
  background-image: url(../images/sprite-images.png);
  background-position: -416px -305px;
  width: 68px;
  height: 29px;
}
.icon-mandiri {
  background-image: url(../images/sprite-images.png);
  background-position: -64px -407px;
  width: 64px;
  height: 38px;
}
.icon-mandiriclickpay {
  background-image: url(../images/sprite-images.png);
  background-position: -64px -445px;
  width: 64px;
  height: 38px;
}
.icon-map-small {
  background-image: url(../images/sprite-images.png);
  background-position: 0px -506px;
  width: 19px;
  height: 25px;
}
.icon-mastercard {
  background-image: url(../images/sprite-images.png);
  background-position: 0px -445px;
  width: 64px;
  height: 38px;
}
.icon-pahala-kencana {
  background-image: url(../images/sprite-images.png);
  background-position: -318px -305px;
  width: 98px;
  height: 30px;
}
.icon-person {
  background-image: url(../images/sprite-images.png);
  background-position: -519px -452px;
  width: 18px;
  height: 23px;
}
.icon-placeholder-small {
  background-image: url(../images/sprite-images.png);
  background-position: -516px -197px;
  width: 21px;
  height: 29px;
}
.icon-placeholder {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -143px;
  width: 40px;
  height: 54px;
}
.icon-price {
  background-image: url(../images/sprite-images.png);
  background-position: -424px -52px;
  width: 59px;
  height: 59px;
}
.icon-profil {
  background-image: url(../images/sprite-images.png);
  background-position: -448px -407px;
  width: 23px;
  height: 29px;
}
.icon-search {
  background-image: url(../images/sprite-images.png);
  background-position: 0px -483px;
  width: 23px;
  height: 23px;
}
.icon-seat-gray-small {
  background-image: url(../images/sprite-images.png);
  background-position: -54px -390px;
  width: 19px;
  height: 17px;
}
.icon-seat-gray {
  background-image: url(../images/sprite-images.png);
  background-position: -297px -353px;
  width: 26px;
  height: 26px;
}
.icon-seat-green {
  background-image: url(../images/sprite-images.png);
  background-position: -280px -142px;
  width: 26px;
  height: 26px;
}
.icon-seat-layou-green {
  background-image: url(../images/sprite-images.png);
  background-position: -268px -210px;
  width: 32px;
  height: 32px;
}
.icon-seat-layout-gray {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -420px;
  width: 32px;
  height: 32px;
}
.icon-seat-layout-white {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -388px;
  width: 32px;
  height: 32px;
}
.icon-seat-layout-yellow {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -356px;
  width: 32px;
  height: 32px;
}
.icon-seat-white {
  background-image: url(../images/sprite-images.png);
  background-position: -271px -353px;
  width: 26px;
  height: 26px;
}
.icon-seat-yellow {
  background-image: url(../images/sprite-images.png);
  background-position: -280px -168px;
  width: 26px;
  height: 26px;
}
.icon-seat {
  background-image: url(../images/sprite-images.png);
  background-position: -516px -226px;
  width: 21px;
  height: 27px;
}
.icon-service-bus {
  background-image: url(../images/sprite-images.png);
  background-position: -153px 0px;
  width: 153px;
  height: 142px;
}
.icon-service-gear {
  background-image: url(../images/sprite-images.png);
  background-position: 0px 0px;
  width: 153px;
  height: 142px;
}
.icon-smart-search {
  background-image: url(../images/sprite-images.png);
  background-position: -249px -272px;
  width: 69px;
  height: 69px;
}
.icon-steer {
  background-image: url(../images/sprite-images.png);
  background-position: -323px -353px;
  width: 25px;
  height: 25px;
}
.icon-strip {
  background-image: url(../images/sprite-images.png);
  background-position: -516px -253px;
  width: 17px;
  height: 4px;
}
.icon-take-bold {
  background-image: url(../images/sprite-images.png);
  background-position: -172px -272px;
  width: 77px;
  height: 77px;
}
.icon-ticket {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -260px;
  width: 44px;
  height: 30px;
}
.icon-toilet {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -197px;
  width: 27px;
  height: 63px;
}
.icon-top-talent {
  background-image: url(../images/sprite-images.png);
  background-position: -91px -272px;
  width: 81px;
  height: 80px;
}
.icon-twitter-small {
  background-image: url(../images/sprite-images.png);
  background-position: -433px -119px;
  width: 55px;
  height: 55px;
}
.icon-twitter {
  background-image: url(../images/sprite-images.png);
  background-position: -489px -48px;
  width: 48px;
  height: 48px;
}
.icon-visa {
  background-image: url(../images/sprite-images.png);
  background-position: -256px -407px;
  width: 64px;
  height: 38px;
}
.icon-wallet {
  background-image: url(../images/sprite-images.png);
  background-position: -320px -407px;
  width: 64px;
  height: 38px;
}
