/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-alfamart {
  background-image: url(../images/sprite-payment.png);
  background-position: 0px 0px;
  width: 104px;
  height: 63px;
}
.icon-bca {
  background-image: url(../images/sprite-payment.png);
  background-position: -104px 0px;
  width: 104px;
  height: 63px;
}
.icon-bri {
  background-image: url(../images/sprite-payment.png);
  background-position: 0px -63px;
  width: 104px;
  height: 63px;
}
.icon-doku {
  background-image: url(../images/sprite-payment.png);
  background-position: -104px -63px;
  width: 104px;
  height: 63px;
}
.icon-klikbca {
  background-image: url(../images/sprite-payment.png);
  background-position: 0px -126px;
  width: 104px;
  height: 63px;
}
.icon-klikmandiri {
  background-image: url(../images/sprite-payment.png);
  background-position: -104px -126px;
  width: 104px;
  height: 63px;
}
.icon-mandiri {
  background-image: url(../images/sprite-payment.png);
  background-position: -208px 0px;
  width: 104px;
  height: 63px;
}
.icon-mastercard {
  background-image: url(../images/sprite-payment.png);
  background-position: -208px -63px;
  width: 104px;
  height: 63px;
}
.icon-visa {
  background-image: url(../images/sprite-payment.png);
  background-position: -208px -126px;
  width: 104px;
  height: 63px;
}
