@charset "utf-8";
/* CSS Document */







/*************************
*******404 CSS******
**************************/

.logo-404 {
  margin-top: 60px;
}
.logo-401 {
  margin-top: 30px;  
}

.content-404 img {
 margin:0 auto;
}

.content-404 p {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.content-404  h2 {
  margin-top:50px;
}

.content-404 h2 a {
  background: #5D9E79;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 300;
  padding: 8px 40px;
}

.logo-404 img {
    width: 20%;
	margin:0 auto;
	display:table;
}
.logo-401 img {
    width: 10%;
	margin:0 auto;
	display:table;
}
.content-404 img {
    width: 50%;
}

@media (min-width: 320px) and (max-width: 640px) {
				
	.content-404 h2 a {
    font-size: 22px;
}
.four > h1 {
    font-size: 170px;
}
	
}