@charset "utf-8";
/* CSS Document */





.Top {
	background-image:url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-size:100% auto;
	background-size: cover !important;
    height: 939px;	
	
}
.content-center img {
    margin: 0 auto;
    padding: 50px 0;
	width: 200px;
}
.download {
    margin: 80px 0 0;
    text-align: center;
}
.download h1 {
    color: white;
    font-size: 60px;
}
.download p {
    color: #d0d0d0;
    font-size: 20px;
    letter-spacing: 2px;
}
.divider:after {
	background-color: #62bc91;
	 border-radius: 5em;
    content: "";
    display: block;
    height: 4px;
    margin: 13px auto;
    position: relative;
    text-align: center;
    width: 60px;
	
}
.btn.btn-andriod {
 border: 1px solid #fff;
    border-radius: 59px;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
    padding: 20px 20px;
}
.btn.btn-iphone {
     border: 1px solid #fff;
    border-radius: 59px;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
    padding: 20px 20px;
}
.btn.btn-andriod:hover {
    background-color: #fff;
    color: #62bc91;
    transition: all 0.7s ease 0s;
}
.btn.btn-iphone:hover {
    background-color: #fff;
    color: #62bc91;
    transition: all 0.7s ease 0s;
}



@media (min-width: 320px) and (max-width: 640px) {
			
	.btn.btn-iphone {
    	margin-bottom: 20px;
		margin-left:0px;
	}
	.btn.btn-andriod {
    	margin-bottom: 20px;
		margin-left:0px;
	}
	.Top {
    height: 979px;
}	
	
}

.reset_password h3 {
    margin: 30px 0;
}
.reenter {
    margin: 40px 0;
}