@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}
a{outline: none !important; text-decoration: none;}
a:focus, a:active{text-decoration: none;}
body{font-family: 'Raleway', sans-serif;}
.ml0{margin-left: 0 !important;}
.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}
.mlr10{margin-left: 10px;margin-right: 10px;}

.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mb20{margin-bottom: 20px !important;}
.pb30{padding-bottom: 30px !important;}
.address_detail p{line-height:25px; margin-bottom:10px;}
.map{background:#fff; padding:5px;}
.running_text{margin-bottom: 20px; line-height: 22px;}
.inner_page h3{margin-bottom: 20px;}
.form-control{border-radius:0; border:1px solid #ddd;}
.chzn-container-single .chzn-single{color:#999;}

.pl0{padding-left: 0 !important;}
.pl5{padding-left: 5px !important;}
.pl25{padding-left: 25px !important;}
.pl10{padding-left: 10px !important;}
.pl15{padding-left: 15px !important;}
.pr5{padding-right: 5px !important;}
.pr10{padding-right: 10px !important;}
.pr15{padding-right: 15px !important;}
.pr20{padding-right: 20px !important;}
.p10{padding:20px 10px !important; margin-bottom:0;}

hr{margin: 25px auto; border: #ddd 1px solid;}

.thumbnail a:hover{text-decoration:none;}
.thumbnail a img{padding-bottom:15px;}
.text-center { text-align: center;}
.adr_list{padding: 0; margin:0; list-style: none;}
.adr_list li{padding: 0; margin-right: 20px;color: #adafb0; float: left;font-family: 'Open Sans', sans-serif;}
.adr_list li a{font-size: 14px; color: #adafb0; text-decoration: none; margin-left: 55px; font-family: 'Open Sans', sans-serif;}
.adr_list li a:hover{color: #fff;}
.login_list{padding:0; margin: 0; list-style: none;}
.login_list li{padding:0; margin: 0; float: left;}
.login_list li a{color: #adafb0; font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 600;}
.login_list li a:hover{color: #fff; text-decoration: none;}
.login_list b{color:#fff; margin:0 10px; font-weight: 400;}
.logo_box{background-color: #f2f2f2;}


.main_list li a{color: #3a4b54 !important; font-size: 14px;}
.collapse.navbar-collapse{background-color: #f2f2f2; border-color:#f2f2f2 !important;padding-right: 0;}
nav{border: none !important; margin-top: 30px; background: transparent !important;}
.navbar-nav > li > a{padding:10px 12px; font-size: 13px; font-family: 'Open Sans', sans-serif; border-radius: 5px;color: #3a4b54 !important; font-weight: 600;
-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-color: #db3e3e !important; color: #fff !important;}
.navbar-nav>li>a:hover{color:#fff !important; background-color: #db3e3e !important; }
.ticket{position: absolute; top:26%; left:9%;}
.booking_txt{color: #fff; font-size: 30px; font-weight: 600;}
.portal_txt{color: #fff; font-size: 30px; font-weight: 400; margin-top: 10px;}
.book{margin-top: 40px; background: none !important; border:1px solid #ddd; color: #fff; font-size: 18px;}
.content{background-color: #f2f2f2;}
.head_txt{background:url(../images/gray_line.png) repeat-x; background-position:0px 16px; display:block; margin-top:25px; margin-bottom:25px;}
.head_txt > span{color:#32434d; font-size:30px; margin:0 auto; display:table; background:#f2f2f2; padding:0 20px;}
.head_txt label{color:#db3e3e; font-weight:400; cursor:text;}
.white{background:#fff !important; padding:20px 0; border-bottom:1px solid #e6e6e6; border-radius: 0 50px 50px 0;}
.desc_box{width:85%; margin:0 auto; margin-top:20px;}
.desc_txt{font-size:15px; text-align:center; color:#405765; line-height:25px;}
.btn.btn-default.btn-lg{margin-left:15px; font-size:15px; border-radius:3px !important; padding: 10px 30px; background: #2589c2 !important;  border:1px solid #2589c2; color: #fff;}
.btn.btn-default.btn-lg:hover{background: none !important; border:1px solid #1885c3; color: #1885c3;}
.btn-group{margin:0 auto; display:table; margin-top:30px; margin-bottom:20px;}
.box{width:142px; height:147px; float:left; position:relative; margin-left:24px;}
.box{-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.arrow{position:absolute; top:-3px; left:0;}
.category_list{padding:0; margin:0; list-style:none;}
.category_list li{padding:0; margin:0;}

.category_box{float:left; width:100%;  margin-bottom:40px; margin-top: 10px;}
.footer_box{background:#FFF; padding:20px;}
.sub_menu{padding:0; margin:0; list-style:circle;}
.sub_menu li{padding:0; margin:0;}
.sub_menu li a{font-size:14px; color:#9d9d9d; line-height: 28px;}
.sub_menu li a:hover{color:#FFF; text-decoration: none;}
.br_right{border-right: none !important;}
.pay_txt{font-size:16px; color:#32434d;}
.pay_txt a{color:#2589c2; font-weight:600;}
footer{ padding:20px 20px 30px; background:url(../images/footer_bg.png) repeat; display: block; font-family: 'Open Sans', sans-serif;}
footer .sub_menu li a{font-size: 13px;}
.copy_txt{color:#9d9d9d; font-size: 13px;}

.service_txt{display:block; text-align: center; color: #32434d; font-size: 14px;font-weight: 600;}
.box.mobile{background:url(../images/mobile.png) no-repeat #fff; background-position: 32px 22px; padding: 110px 0 0; }
.box.mobile:hover{background:url(../images/mobile-hover.png) no-repeat #db3e3e; background-position: 32px 22px; padding: 110px 0 0; }

.box.money{background:url(../images/hand.png) no-repeat #fff; background-position: 37px 22px; padding: 110px 0 0; }
.box.money:hover{background:url(../images/hand-hover.png) no-repeat #db3e3e; background-position: 37px 22px; padding: 110px 0 0; }

.box.bill{background:url(../images/dollar.png) no-repeat #fff; background-position: 27px 22px; padding: 110px 0 0; }
.box.bill:hover{background:url(../images/dollar-hover.png) no-repeat #db3e3e; background-position: 27px 22px; padding: 110px 0 0; }

.box.shop{background:url(../images/hotel.png) no-repeat #fff; background-position: 47px 22px; padding: 110px 0 0; }
.box.shop:hover{background:url(../images/hotel-active.png) no-repeat #db3e3e; background-position: 47px 22px; padding: 110px 0 0; }

.box.travel{background:url(../images/travel.png) no-repeat #fff; background-position: 49px 22px; padding: 110px 0 0; }
.box.travel:hover{background:url(../images/travel-hover.png) no-repeat #db3e3e; background-position: 49px 22px; padding: 110px 0 0; }

.box.pancard{background:url(../images/pancard.png) no-repeat #fff; background-position: 28px 22px; padding: 110px 0 0; }
.box.pancard:hover{background:url(../images/pancard-hover.png) no-repeat #db3e3e; background-position: 28px 22px; padding: 110px 0 0; }

.box.insurance{background:url(../images/insurance.png) no-repeat #fff; background-position: 30px 22px; padding: 110px 0 0; }
.box.insurance:hover{background:url(../images/insurance-hover.png) no-repeat #db3e3e; background-position: 30px 22px; padding: 110px 0 0; }

.box:hover .service_txt{color: #fff; text-decoration: none;}
.box:hover .arrow{display: none !important;}

.my_box{background: #fff; padding: 30px; border: #ddd 1px solid;}
.my_list{padding-left: 15px;}
.my_list li{margin-bottom: 6px;}
.panel-title a{display: inline-block;}
.panel-title a:hover{text-decoration: none;color: #337ab7;}

.panel-title a.active{color: #337ab7; text-decoration: none !important;font-weight: 700;}

@media (min-width: 320px) and (max-width: 640px){
.adr_list li a{margin-left: 10px;}
.login_list{float: left !important; margin-top: 10px;}
.logo_box a{text-align: center; display: block;}
.logo_box a{text-align: left; padding:8px 0 8px 15px !important; }
h3{font-size: 12px;}
.order{margin-top: 10px !important;}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.header{top: 18% !important;}
.head_txt > span{font-size: 15px !important;}
.box{width: 44%; margin:0 3% 5% !important;}
.button-text{padding:0 18px !important;}
.button-fill{margin-bottom: 10px;}
.btn-group{text-align: center;}
.navbar-toggle{float: none; width: 100%;}
.login_list li{margin-left: 0;}
.nav.navbar-nav.pull-right{float: left !important;}
.mob_left{float: left !important; width: 100%;}
.mob_p0{padding:0 !important;}
.mob_ml0{margin-left: 0 !important;}
.navbar-nav > li > a{padding-top: 5px; padding-bottom: 5px;}
.btn.btn-default.btn-lg{display: block; width: 100%; margin-bottom: 5px; margin-left: 0;}
.box{margin-left: 0;}
.sub_menu li a{font-size: 12px;}
.pay_txt{float: left !important;}
.hints_box{float: none !important; margin-bottom: 30px;}
.copy_txt{text-align: center;}
nav{margin-top: 0;}
}
@media (min-width: 728px) and (max-width:1024px){
	
}
.button-fill{text-align: center;display: inline-block;position: relative;text-transform: uppercase;margin-right: 10px;}
.button-fill.grey{background: #db3e3e;color: #fff;font-size: 15px;}
.button-text {padding: 0 25px;line-height: 45px;font-weight: 600; font-family: 'Open Sans', sans-serif;}
.button-inside{width: 0px;height:45px;margin: 0;float: left;position: absolute;top: 1px;left: 50%;line-height:45px;color: #445561;
background: #fff;text-align: center;overflow: hidden;
-webkit-transition: width 0.5s, left 0.5s, margin 0.5s;
-moz-transition: width 0.5s, left 0.5s, margin 0.5s;
-o-transition: width 0.5s, left 0.5s, margin 0.5s;
transition: width 0.5s, left 0.5s, margin 0.5s;}
.button-inside.full {width: 100%;left: 0%;top: 0;margin-right: -50px;border: 1px solid #1885c3;color: #1885c3;line-height: 45px;}
.inside-text {text-align: center;position: absolute;right: 50%;width: 100%; font-weight: 600; font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
-webkit-transform: translateX(50%);
-moz-transform: translateX(50%);
-ms-transform: translateX(50%);
transform: translateX(50%);
outline: none;}
.order{border: 1px solid #fff; background: none !important; margin-top: 30px;}
.logo_txt{font-size: 14px; margin-top: 20px; color: #fff; text-align: center;}
.hints_box{float: left; text-align: center; margin-top: 10px;}
.fa.fa-circle-o{font-size:9px !important;}

.bg_gray{background: #3e3e3e; padding: 20px;margin-top: 10px; text-align: center; margin-bottom: 20px; color: #9d9d9d; font-size: 13px;
border-radius: 5px; moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;}
.live_link{font-weight: 600; color: #eaeaea;position: relative;}
.live_link:hover{color: #fff; text-decoration: none;}
.live_link span{left: 50%; height: 1px; background: #fff; position: absolute;bottom: -2px; width: 0;
-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.live_link:hover span{width: 100%; left: 0;}

.live_link1{font-weight: 600; color: #337ab7;position: relative;float:left; font-size:14px;}
.panel-title .live_link1{float:right;line-height:16px;}
.live_link1:hover{text-decoration: none;}
.live_link1 span{left: 50%; height: 1px; background: #337ab7; position: absolute;bottom: -2px; width: 0;
-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.live_link1:hover span{width: 100%; left: 0;}

.live_link2{font-weight: 600; color: #337ab7;position: relative; font-size:14px;}
.live_link2:hover{text-decoration: none;}
.live_link2 span{left: 50%; height: 1px; background: #337ab7; position: absolute;bottom: -2px; width: 0;
-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.live_link2:hover span{width: 100%; left: 0;}

.inner_page_bg{background: url(../images/inner-page-bg.png) no-repeat; width: 100%; height: 90px; margin-bottom: 30px;}
.white_txt{color: #fff; text-align: center;padding-top:30px; margin-top:5px;}
.list_line li{padding-bottom: 20px;}
.blue_text{color: #1885c3;text-align: center;}
.blue_text b{font-size: 16px; font-weight: 700;}
