.hide {
    display: none
}
.rb-calendar {
    background-color: #fff;
    z-index: 1010
}
.rb-calendar .rb-calendarTitle {
    background-color: #666;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-weight: 700
}
.rb-calendar .rb-monthTable {
    float: left;
    border-collapse: collapse;
    font-size: .9em;
    margin: 1%;
    border: 0;
    margin-top: 0;
    width: 98%
}
.rb-calendar .rb-monthHeader .prev {
    padding: 0px;
    margin-left: 47px;
}
.rb-calendar .rb-monthHeader .next {
    padding: 0px;
    margin-right: 47px;
}
.rb-calendar .rb-monthTable.mid {
    margin-left: 0;
    margin-right: 0
}
.rb-calendar .rb-monthTable .rb-monthHeader td {
    border: 0;
    height: 40px
}
.rb-calendar .rb-monthTable .rb-monthHeader td.monthTitle {
    font-weight: 700;
    font-size: 15px
}
.rb-calendar .rb-monthTable .rb-monthHeader td button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: #000;
    display: none;
    padding: 10px;
    margin: 0 auto
}
.rb-calendar .rb-monthTable .rb-monthHeader td button .disabled {
    opacity: .2
}
.rb-calendar .rb-monthTable.first .rb-monthHeader td.prev button,
.rb-calendar .rb-monthTable.last .rb-monthHeader td.next button {
    display: block;
    font-size: 24px;
    font-family: monospace;
    color: #5f5f5f;
    font-weight: 700
}
.rb-calendar .rb-monthTable.mid .rb-monthHeader td.next button,
.rb-monthTable.mid .rb-monthHeader td.prev button {
    display: none
}
.rb-calendar .rb-monthTable tr th {
    height: 2.5em;
    border: 0;
    font-weight: 400;
    text-align: center;
    color: #666
}
.rb-calendar .rb-monthTable tr td {
    width: 13%;
    height: 3em;
    text-align: center;
    vertical-align: middle;
    color: #666;
    border: 1px solid transparent
}
.rb-calendar .rb-monthTable tr td.past {
    color: #ccc;
    cursor: default
}
.rb-calendar .rb-monthTable tr td.wd {
    cursor: pointer
}
.rb-calendar .rb-monthTable tr td.we {
    color: #004E00;
    cursor: pointer
}
.rb-calendar .rb-monthTable tr td.tdy {
    color: #008;
    cursor: pointer
}
.rb-calendar .rb-monthTable tr td.day.current {
    background-color: #006600;
    color: #fff;
    cursor: pointer
}
.rb-calendar .rb-monthTable tr td.day {
    background-color: #fff
}
.rb-calendar .rb-monthTable tr td.current:hover,
.rb-calendar .rb-monthTable tr td.tdy:hover,
.rb-calendar .rb-monthTable tr td.wd:hover,
.rb-calendar .rb-monthTable tr td.we:hover {
    background-color: #006600;
    color: #fff
}
.rb-calendar select {
    color: #666
}

.opened {
    position: absolute;
    width: 96%;
    font-size: 1.2em!important;
    top: 5%;
    left: 0;
    margin: 0 auto;
    right: 0
}
.opened .onward {
    border-bottom: 3px solid #074407;
    width: 100%!important
}
.opened .return-holder {
    display: none!important
}
.onward_hr {
    width: 25%;
    display: block;
    margin: 0
}
.onward_hr,
.return_hr {
    height: .25rem;
    background: #d84e55;
    border: none;
    transition: .3s ease-in-out
}
.return_hr {
    width: 50%;
    margin-left: 50%;
    margin-bottom: 0
}
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: #575252;
    z-index: 1000;
    opacity: .5
}

body .date-holder {
    overflow: hidden;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #fbfbfb;
    z-index: 2000
}
body .date-holder .onward,
body .date-holder .return {
    vertical-align: middle;
    display: inline-block;
    width: 45%;
    color: #666;
    padding: .5em 3%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-right: 1px solid #ddd;
    font-size: .9em
}
body .date-holder .onward label,
body .date-holder .return label {
    color: #000;
    font-size: 1.3em;
    font-weight:100;
}
body .date-holder .onward .date,
body .date-holder .return .date {
    font-size: 4.5em;
    line-height: normal;
    display: inline-block;
    color:#006600;
}
body .date-holder .onward .day-holder,
body .date-holder .return .day-holder {
    display: inline-block;
    vertical-align: text-bottom;
    font-weight: 400;
    padding-top: 5px;
    margin-left: 1em
}
body .date-holder .onward .dd-mm-yy,
body .date-holder .return .dd-mm-yy {
    line-height: 1.3em;
    font-size: 1.2em;
    color: #000000;
    font-weight: 400
}
body .date-holder .return-holder {
    width: 55%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.9em;
    color: #a3a3a3
}
body .date-holder .return-holder span {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    font-size: .5em;
    display: inline-block;
    background-color: #a9a9a9;
    line-height: .4em;
    margin: 5%;
    margin-right: 0;
    padding: 1em 6%;
    color: #fff;
    cursor: pointer;
    border-radius: 3px
}
body .date-holder .return-holder .selected {
    background-color: #bfbfbf;
    color: #fff
}
body .date-holder .disabled {
    opacity: .5
}