/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Aug, 2017, 10:50:19 AM
    Author     : Hiren T. Solanki
*/

html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
html.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #333 url('loader.gif') no-repeat 50% 50%;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
html.loading body {
    /* Make the contents of the body opaque during loading */
    opacity: 0;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0;
    transition: opacity 0;
}
.default_color { color: #9ccc65; }
.default_padding { padding: 0px !important;  }
.br{ border-right: 0px !important }
.bt{ border-top: 0px !important }
.bb{ border-bottom: 0px !important }
.bl{ border-left: 0px !important }

.chips .autocomplete-content {
    margin-top: 0;
    margin-bottom: 0
}

.input-field .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem)
}
.autocomplete-content {
    margin-top: -20px;
    margin-bottom: 20px;
    display: block;
    opacity: 1;
    position: absolute
    /*position: static*/
}
.autocomplete-content li .highlight {
    color: #444
}
.autocomplete-content li img {
    height: 40px;
    width: 40px;
    margin: 5px 15px
}
.default_tags {
    border: none;
    width: auto;
    height: auto;
}
.dropdown-content li.active{
    background-color:rgba(0,0,0,.04)
}
.highlights{
    border: 1px solid red;
}
.bust-modal{
    max-height:75%; 
}