/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-alfamart-logo {
  background-image: url(../images/sprite-general.png);
  background-position: -299px -248px;
  width: 59px;
  height: 27px;
}
.icon-alfamart {
  background-image: url(../images/sprite-general.png);
  background-position: -75px -348px;
  width: 75px;
  height: 45px;
}
.icon-arrow-chev-right {
  background-image: url(../images/sprite-general.png);
  background-position: -300px -377px;
  width: 27px;
  height: 15px;
}
.icon-arrow-circle-left-opa {
  background-image: url(../images/sprite-general.png);
  background-position: -68px -393px;
  width: 29px;
  height: 29px;
}
.icon-arrow-circle-left {
  background-image: url(../images/sprite-general.png);
  background-position: -434px -294px;
  width: 40px;
  height: 40px;
}
.icon-arrow-circle-right-opa {
  background-image: url(../images/sprite-general.png);
  background-position: -97px -393px;
  width: 29px;
  height: 29px;
}
.icon-arrow-circle-right {
  background-image: url(../images/sprite-general.png);
  background-position: -434px -254px;
  width: 40px;
  height: 40px;
}
.icon-arrow-right {
  background-image: url(../images/sprite-general.png);
  background-position: -474px -294px;
  width: 13px;
  height: 15px;
}
.icon-arrow-small-updown {
  background-image: url(../images/sprite-general.png);
  background-position: -421px -227px;
  width: 8px;
  height: 14px;
}
.icon-arrow {
  background-image: url(../images/sprite-general.png);
  background-position: -342px -393px;
  width: 21px;
  height: 21px;
}
.icon-bca-naked {
  background-image: url(../images/sprite-general.png);
  background-position: -300px -348px;
  width: 90px;
  height: 29px;
}
.icon-bca {
  background-image: url(../images/sprite-general.png);
  background-position: -75px -303px;
  width: 75px;
  height: 45px;
}
.icon-booking {
  background-image: url(../images/sprite-general.png);
  background-position: -434px -334px;
  width: 35px;
  height: 35px;
}
.icon-bri {
  background-image: url(../images/sprite-general.png);
  background-position: -225px -303px;
  width: 75px;
  height: 45px;
}
.icon-bus-left {
  background-image: url(../images/sprite-general.png);
  background-position: -190px -281px;
  width: 46px;
  height: 16px;
}
.icon-bus-right {
  background-image: url(../images/sprite-general.png);
  background-position: -236px -281px;
  width: 46px;
  height: 16px;
}
.icon-bus-small {
  background-image: url(../images/sprite-general.png);
  background-position: -422px -152px;
  width: 12px;
  height: 16px;
}
.icon-bus-smallest {
  background-image: url(../images/sprite-general.png);
  background-position: -474px -325px;
  width: 10px;
  height: 9px;
}
.icon-bus {
  background-image: url(../images/sprite-general.png);
  background-position: -471px -369px;
  width: 17px;
  height: 20px;
}
.icon-calendar-smallest {
  background-image: url(../images/sprite-general.png);
  background-position: -320px -393px;
  width: 22px;
  height: 21px;
}
.icon-calendar {
  background-image: url(../images/sprite-general.png);
  background-position: -188px -422px;
  width: 20px;
  height: 20px;
}
.icon-cancel-rwd {
  background-image: url(../images/sprite-general.png);
  background-position: -363px -393px;
  width: 23px;
  height: 18px;
}
.icon-carapemesanan-rwd {
  background-image: url(../images/sprite-general.png);
  background-position: -439px -393px;
  width: 17px;
  height: 17px;
}
.icon-check-big {
  background-image: url(../images/sprite-general.png);
  background-position: -327px -377px;
  width: 20px;
  height: 15px;
}
.icon-check-normal-white {
  background-image: url(../images/sprite-general.png);
  background-position: -290px -393px;
  width: 30px;
  height: 21px;
}
.icon-check-normal-yellow {
  background-image: url(../images/sprite-general.png);
  background-position: -379px -377px;
  width: 15px;
  height: 11px;
}
.icon-check-smallest {
  background-image: url(../images/sprite-general.png);
  background-position: -474px -288px;
  width: 9px;
  height: 6px;
}
.icon-chevron-left-small {
  background-image: url(../images/sprite-general.png);
  background-position: -474px -309px;
  width: 12px;
  height: 16px;
}
.icon-chevron-left {
  background-image: url(../images/sprite-general.png);
  background-position: -469px -334px;
  width: 20px;
  height: 25px;
}
.icon-chevron-right-small {
  background-image: url(../images/sprite-general.png);
  background-position: -422px -136px;
  width: 12px;
  height: 16px;
}
.icon-chevron-right {
  background-image: url(../images/sprite-general.png);
  background-position: -24px -454px;
  width: 20px;
  height: 25px;
}
.icon-city {
  background-image: url(../images/sprite-general.png);
  background-position: -407px -303px;
  width: 25px;
  height: 29px;
}
.icon-close {
  background-image: url(../images/sprite-general.png);
  background-position: -421px -241px;
  width: 9px;
  height: 10px;
}
.icon-cs {
  background-image: url(../images/sprite-general.png);
  background-position: -422px -393px;
  width: 17px;
  height: 17px;
}
.icon-doku-wallet {
  background-image: url(../images/sprite-general.png);
  background-position: -190px -248px;
  width: 109px;
  height: 33px;
}
.icon-doku {
  background-image: url(../images/sprite-general.png);
  background-position: -150px -303px;
  width: 75px;
  height: 45px;
}
.icon-facebook-circle {
  background-image: url(../images/sprite-general.png);
  background-position: -434px -55px;
  width: 55px;
  height: 55px;
}
.icon-facebook-moble {
  background-image: url(../images/sprite-general.png);
  background-position: -156px -393px;
  width: 30px;
  height: 28px;
}
.icon-facebook {
  background-image: url(../images/sprite-general.png);
  background-position: -121px -422px;
  width: 24px;
  height: 24px;
}
.icon-forma {
  background-image: url(../images/sprite-general.png);
  background-position: -421px -204px;
  width: 12px;
  height: 12px;
}
.icon-google-play-big {
  background-image: url(../images/sprite-general.png);
  background-position: 0px -178px;
  width: 239px;
  height: 70px;
}
.icon-google-play-small {
  background-image: url(../images/sprite-general.png);
  background-position: 0px -248px;
  width: 190px;
  height: 55px;
}
.icon-google {
  background-image: url(../images/sprite-general.png);
  background-position: -145px -422px;
  width: 23px;
  height: 24px;
}
.icon-harga-terjamin {
  background-image: url(../images/sprite-general.png);
  background-position: -366px -68px;
  width: 68px;
  height: 68px;
}
.icon-indonesia-big {
  background-image: url(../images/sprite-general.png);
  background-position: -366px -259px;
  width: 60px;
  height: 40px;
}
.icon-indonesia-smalest {
  background-image: url(../images/sprite-general.png);
  background-position: -434px -369px;
  width: 37px;
  height: 24px;
}
.icon-indonesia-small {
  background-image: url(../images/sprite-general.png);
  background-position: -390px -348px;
  width: 40px;
  height: 25px;
}
.icon-instagram-circle {
  background-image: url(../images/sprite-general.png);
  background-position: -434px 0px;
  width: 55px;
  height: 55px;
}
.icon-instagram-mobile {
  background-image: url(../images/sprite-general.png);
  background-position: -461px -180px;
  width: 28px;
  height: 28px;
}
.icon-kartu-kredit {
  background-image: url(../images/sprite-general.png);
  background-position: -282px -281px;
  width: 37px;
  height: 15px;
}
.icon-klikbca {
  background-image: url(../images/sprite-general.png);
  background-position: 0px -303px;
  width: 75px;
  height: 45px;
}
.icon-klikmandiri {
  background-image: url(../images/sprite-general.png);
  background-position: 0px -348px;
  width: 75px;
  height: 45px;
}
.icon-konfirmasi-rwd {
  background-image: url(../images/sprite-general.png);
  background-position: -411px -335px;
  width: 18px;
  height: 12px;
}
.icon-list-harga {
  background-image: url(../images/sprite-general.png);
  background-position: -375px -335px;
  width: 18px;
  height: 13px;
}
.icon-mandiri-logo {
  background-image: url(../images/sprite-general.png);
  background-position: 0px -393px;
  width: 68px;
  height: 29px;
}
.icon-mandiri {
  background-image: url(../images/sprite-general.png);
  background-position: -150px -348px;
  width: 75px;
  height: 45px;
}
.icon-map-marker {
  background-image: url(../images/sprite-general.png);
  background-position: -434px -208px;
  width: 35px;
  height: 46px;
}
.icon-mastercard {
  background-image: url(../images/sprite-general.png);
  background-position: -225px -348px;
  width: 75px;
  height: 45px;
}
.icon-message {
  background-image: url(../images/sprite-general.png);
  background-position: -324px -178px;
  width: 40px;
  height: 30px;
}
.icon-mitra-bustiket {
  background-image: url(../images/sprite-general.png);
  background-position: -184px 0px;
  width: 182px;
  height: 176px;
}
.icon-pariwisata-antarjemput {
  background-image: url(../images/sprite-general.png);
  background-position: -469px -359px;
  width: 18px;
  height: 8px;
}
.icon-pariwisata-bbm {
  background-image: url(../images/sprite-general.png);
  background-position: -474px -254px;
  width: 14px;
  height: 17px;
}
.icon-pariwisata-harga {
  background-image: url(../images/sprite-general.png);
  background-position: -393px -335px;
  width: 18px;
  height: 13px;
}
.icon-pariwisata-map {
  background-image: url(../images/sprite-general.png);
  background-position: -474px -271px;
  width: 13px;
  height: 17px;
}
.icon-pariwisata-ppn {
  background-image: url(../images/sprite-general.png);
  background-position: -421px -216px;
  width: 11px;
  height: 11px;
}
.icon-pariwisata-strip {
  background-image: url(../images/sprite-general.png);
  background-position: -471px -389px;
  width: 17px;
  height: 4px;
}
.icon-pariwisata-tolparkir {
  background-image: url(../images/sprite-general.png);
  background-position: -363px -377px;
  width: 16px;
  height: 14px;
}
.icon-pembayaran-mudah {
  background-image: url(../images/sprite-general.png);
  background-position: -239px -178px;
  width: 85px;
  height: 68px;
}
.icon-person-opa {
  background-image: url(../images/sprite-general.png);
  background-position: -208px -422px;
  width: 16px;
  height: 20px;
}
.icon-person-smallest {
  background-image: url(../images/sprite-general.png);
  background-position: -168px -422px;
  width: 20px;
  height: 24px;
}
.icon-person {
  background-image: url(../images/sprite-general.png);
  background-position: -461px -145px;
  width: 27px;
  height: 35px;
}
.icon-perusahaan-bus {
  background-image: url(../images/sprite-general.png);
  background-position: 0px 0px;
  width: 184px;
  height: 178px;
}
.icon-rwd-blog {
  background-image: url(../images/sprite-general.png);
  background-position: -347px -377px;
  width: 16px;
  height: 15px;
}
.icon-rwd-chevron-left {
  background-image: url(../images/sprite-general.png);
  background-position: -422px -182px;
  width: 11px;
  height: 14px;
}
.icon-rwd-chevron-right {
  background-image: url(../images/sprite-general.png);
  background-position: -422px -168px;
  width: 11px;
  height: 14px;
}
.icon-rwd-sear {
  background-image: url(../images/sprite-general.png);
  background-position: -405px -393px;
  width: 17px;
  height: 17px;
}
.icon-rwd-seat-gray {
  background-image: url(../images/sprite-general.png);
  background-position: -258px -422px;
  width: 17px;
  height: 18px;
}
.icon-rwd-seat-green {
  background-image: url(../images/sprite-general.png);
  background-position: -224px -422px;
  width: 17px;
  height: 18px;
}
.icon-rwd-seat-white {
  background-image: url(../images/sprite-general.png);
  background-position: -292px -422px;
  width: 17px;
  height: 18px;
}
.icon-rwd-seat-yellow {
  background-image: url(../images/sprite-general.png);
  background-position: -275px -422px;
  width: 17px;
  height: 18px;
}
.icon-rwd-tentang {
  background-image: url(../images/sprite-general.png);
  background-position: -241px -422px;
  width: 17px;
  height: 18px;
}
.icon-rwd-toilet {
  background-image: url(../images/sprite-general.png);
  background-position: -469px -208px;
  width: 18px;
  height: 43px;
}
.icon-seat-gray-big {
  background-image: url(../images/sprite-general.png);
  background-position: -375px -303px;
  width: 32px;
  height: 32px;
}
.icon-seat-gray {
  background-image: url(../images/sprite-general.png);
  background-position: -212px -393px;
  width: 26px;
  height: 26px;
}
.icon-seat-green-big {
  background-image: url(../images/sprite-general.png);
  background-position: 0px -422px;
  width: 32px;
  height: 32px;
}
.icon-seat-green {
  background-image: url(../images/sprite-general.png);
  background-position: -186px -393px;
  width: 26px;
  height: 26px;
}
.icon-seat-small {
  background-image: url(../images/sprite-general.png);
  background-position: -386px -393px;
  width: 19px;
  height: 17px;
}
.icon-seat-toilet {
  background-image: url(../images/sprite-general.png);
  background-position: -434px -145px;
  width: 27px;
  height: 63px;
}
.icon-seat-white-big {
  background-image: url(../images/sprite-general.png);
  background-position: -32px -422px;
  width: 32px;
  height: 32px;
}
.icon-seat-white {
  background-image: url(../images/sprite-general.png);
  background-position: -264px -393px;
  width: 26px;
  height: 26px;
}
.icon-seat-yellow-big {
  background-image: url(../images/sprite-general.png);
  background-position: -64px -422px;
  width: 32px;
  height: 32px;
}
.icon-seat-yellow {
  background-image: url(../images/sprite-general.png);
  background-position: -238px -393px;
  width: 26px;
  height: 26px;
}
.icon-seat {
  background-image: url(../images/sprite-general.png);
  background-position: 0px -454px;
  width: 24px;
  height: 34px;
}
.icon-smart-search {
  background-image: url(../images/sprite-general.png);
  background-position: -366px 0px;
  width: 68px;
  height: 68px;
}
.icon-sorting-down {
  background-image: url(../images/sprite-general.png);
  background-position: -44px -454px;
  width: 19px;
  height: 21px;
}
.icon-steer {
  background-image: url(../images/sprite-general.png);
  background-position: -96px -422px;
  width: 25px;
  height: 25px;
}
.icon-telpon {
  background-image: url(../images/sprite-general.png);
  background-position: -324px -208px;
  width: 34px;
  height: 35px;
}
.icon-ticket {
  background-image: url(../images/sprite-general.png);
  background-position: -434px -110px;
  width: 51px;
  height: 35px;
}
.icon-tipe-bus {
  background-image: url(../images/sprite-general.png);
  background-position: -319px -281px;
  width: 34px;
  height: 12px;
}
.icon-tipe-buss {
  background-image: url(../images/sprite-general.png);
  background-position: -456px -393px;
  width: 17px;
  height: 16px;
}
.icon-transaksi-aman {
  background-image: url(../images/sprite-general.png);
  background-position: -366px -136px;
  width: 56px;
  height: 68px;
}
.icon-twitter-circle {
  background-image: url(../images/sprite-general.png);
  background-position: -366px -204px;
  width: 55px;
  height: 55px;
}
.icon-twitter-mobile {
  background-image: url(../images/sprite-general.png);
  background-position: -126px -393px;
  width: 30px;
  height: 28px;
}
.icon-visa {
  background-image: url(../images/sprite-general.png);
  background-position: -300px -303px;
  width: 75px;
  height: 45px;
}